.card-hover {
  background-color: #f9fafb; /* abu muda nyaman */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.1rem; /* sedikit lebih besar */
}

.card-hover:hover {
  background: linear-gradient(to bottom right, #cbd5e1, #e2e8f0); /* biru abu-abu lembut */
  transform: scale(1.01); /* lebih halus */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* lembut, tidak menyilaukan */
}

.container{
  display: flex;
  flex-direction: column;
}


.container-top-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.show-icon{
   color: white;
  font-size: 2rem;
  margin: 0;
  font-weight: bolder;
}

.persentase {
  color: #1e293b;
  font-size: 2rem;
  margin: 0;
  font-weight: bolder;
}

.title{
  margin-bottom: 2vh;
  font-size: 1rem;
  font-weight: bold;
  color: #1e293b;
}


.title-topgroup{
  margin-bottom: 2vh;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.paket {
  color: #1e293b;
  font-size: 2rem;
  margin: 0;
}

.container-row-2{
  display: flex;
  align-items: center;
  color: #1e293b;
  font-size: 1.5rem;
  justify-content: space-between;
  /* gap: auto; */
}

.nominal {
  color: #1e293b;
  font-size: 2rem;
  margin: 0;
  margin-top: 2vh;
  text-align: start;
}

.detail-btn {
  background: linear-gradient(to right, #e0f7fa, #b2ebf2);
  color: #004d40;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.4s ease;
}

.detail-btn:hover {
  background: linear-gradient(to right, #b2ebf2, #80deea);
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.container-row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.ant-modal-content{
  width: 100vh;
}

.title-page {
  text-align: center;
  font-size: xx-large;
}

.top-card{
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.chart-card{
  display: flex;
  flex-direction: column;
}