.persentase-sla {
  display: flex;
  justify-content: center; /* center horizontal */
  align-items: center;     /* center vertical */
  height: 100%;            /* pastikan ada tinggi untuk vertical centering */
}

.table-wrapper .ant-table-tbody > tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.table-wrapper .ant-table-tbody > tr:hover {
  background-color: #e6f7ff !important;
}

.isi-card-sla{
  font-size: 2rem;
  color: black;
}