.ant-modal-content {
  background-color: #F5F5F5!important;
  color: white;
}
.ant-modal-header {
  background-color: #F5F5F5!important;
  color: white !important;
}
.ant-modal-footer {
  background-color:#F5F5F5!important;
}