.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 60vw;
  background-color: rgba(255, 255, 255, 0.8); /* semi transparan */
  backdrop-filter: blur(5px); /* efek kaca */
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.LogoFont{
color: #00A651;
margin:0;
font-size: xx-large;
}

.TitleContainer {
  margin: 0 !important;
  padding: 0; /* opsional, jika ingin hilangkan padding juga */
}

