/* Misalnya di App.css */
.very-compact-table .ant-table-thead > tr > th,
.very-compact-table .ant-table-tbody > tr > td {
  padding: 4px 8px; /* cukup rapat, tapi tetap terbaca */
  font-size: 12px;
  line-height: 2.2;
}

.very-compact-table .ant-table {
  font-size: 12px;
}

.table-wrapper {
  max-width: 85vw; /* atau sesuai lebar card */
  /* margin: 0 auto; */
  overflow-x: auto;
}

.table-wrapper .ant-table-thead > tr > th {
  background-color: #001529; /* atau warna branding kamu */
  color: white;
  font-weight: bold;
  text-align: center;
}



