.small-persentase{
    color: white;
  font-size: 2rem;
  margin: 0;
}

.title-topcard{
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.container-top-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-bottom: 16px; */
  height: 100%;
  flex-shrink: 0; /* Don't shrink the header */
}

.top-container-row-2-rupa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7vw;
  align-items: center;
border: 1px solid black;
}


.rupa-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px solid white;
  padding-top: 10px;
  margin-top: 10px;
}

.rupa-box {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  border-right: 1px solid white;
}

.rupa-box:last-child {
  border-right: none;
}
