body{
  overflow-x: hidden; 
  background-color: white; 
}
.ant-layout{
  height: 100vh;
}

.header{
  display: flex;
  flex-direction: row-reverse;
  padding: 1vh;
}

.title{
  margin: 0;
}

.ant-layout-header{
  display: flex;
  flex-direction: column;
  height: 10vh;
  /* padding: 30px; */
  background-color: white;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  gap: 20px;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  font-size: medium;
  margin-right: 20px;
  cursor: pointer; /* biar terlihat seperti tombol */
  transition: background-color 0.3s, color 0.3s; /* smooth hover */
  margin-top: 10px;
}

.profile:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  border: 2px solid gray;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.username{
  margin: 0;
}