body{
  overflow-x: hidden; 
  background-color: whitesmoke; 
}
.ant-layout{
  height: 100vh;
}

.header{
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  width: 99.5vw;
  max-width: 110vw;

}

.title{
  margin: 0;
}

.ant-layout-header{
  display: flex;
  flex-direction: column;
  height: 11.5vh;
  background-color: whitesmoke;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 60%;
  font-size: medium;
  margin-left: 100px;
  cursor: pointer;
  border-radius: 6px;
  color: #212529;
  background-color: #e8f5e9;
  border: 1px solid #388e3c;
  transition: all 0.3s ease;
}

.profile svg {
  color: inherit;
  transition: color 0.3s;
}

.profile:hover {
  background-color: #388e3c;
  color: white;
  transform: scale(1.05);
  border: 1px solid #81c784;
  box-shadow: 0 0 6px rgba(129, 199, 132, 0.6);
}

.profile:hover svg {
  color: white;
}
